//will be good download fonts and put it in assets/fonts
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

.hidden {
  visibility: hidden;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

.form {
  overflow: scroll;
  padding: 0 35px;
  height: 70vh;
}
::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}

.form-checkbox {
  align-items: center;
  display: flex;
  color: #7E7E7E;
  justify-content: space-between;
  line-height: 60px;
  position: relative;
}

.submit {
  --background: rgb(39, 39, 39);
  bottom: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  left: 0;
  padding: 0 27px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
