<ion-header no-border>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>

        <ion-title class="header-title transparent">
            {{ 'Filters' }}
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>
    <form [formGroup]="form"
          (ngSubmit)="submitForm()"
          *ngIf="form"
          class="form">
        <label formArrayName="filtersArray"
               class="form-checkbox"
               *ngFor="let filter of form.controls.filtersArray.controls; let i = index">
            {{filtersData[i].strCategory}}
            <input type="checkbox" [formControlName]="i" class="hidden"/>
            <ion-icon *ngIf="form.controls.filtersArray.controls[i].value"
                      src="../../../assets/icon/checked.svg"></ion-icon>
        </label>
        <ion-button type="submit" class="submit">Apply</ion-button>
    </form>
</ion-content>

<ng-template #loading class="loading">
    <ion-spinner name="crescent"></ion-spinner>
</ng-template>

