.register__header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.register__form {
  padding: 1rem;
}

.icon__eye {
  color: lightskyblue;
}

.register__pass :host(.item-label-floating) .item-native {
  align-self: center;
}

.register__submit {
  width: 100%;
}

.login-action {
  text-align: center;
}

.login__link {
  font-weight: bolder;
  text-decoration: none;
}
